<header>
    <a href=""></a><img src="./image/logo.png" alt="logo" class="promo__logo">
    <nav class="promo__nav">
        <ul class="promo__nav-list">
            <li>Преимущества</li>
            <li>характеристики</li>
            <li>для кого</li>
        </ul>
    </nav>
</header>